*{
    margin: 0%;
    padding: 0%;
}
.main{
    background: black;
}
.bg{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
video{
    width: 100vw;
}
 #midimg1{
    width: 17vw;
    border-radius: 50%;
    float: left;
    border: .4vw solid rgb(255, 255, 255);
    padding: .2vw ;
    margin: 3vw 3vw 3vw 3vw;
 }
h3{
    font-size: 4vw;
    padding-top: 3vw;
    font-weight: 500;
    color: white;
}
h2{
    font-size: 4vw;
    padding-top: 2vw;
    font-weight: 500;
    color: white;
    float: left;
}
.top{
    height: 20vw;
}

.top i{
    width: 6vw;
    height: 5vw;
    font-size: 5vw;
    color: aliceblue;
    padding-left: 19vw;
    float: left;

}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: -25vw;
    padding: 0 4vw;
}
input{
    border: .5vw solid rgb(125, 122, 122);
    width: 60vw;
    height: 10vw;
    
    border-radius: 5vw;
    background: black;
}
::-webkit-input-placeholder{
    color: white;
    padding-left: 2vw;
    font-size: 4vw;
}
.bottom i{
    width: 6vw;
    height: 5vw;
    font-size: 6vw;
    color: aliceblue;
}